<body>
  <div class="container">
    <h1>Tic-Tac-Toe</h1>
    <ul id="game">
      <!-- first row -->
      <li (click)="handleClick(0)" [innerHTML]="put[0]" data-pos="0,0"></li>
      <li (click)="handleClick(1)" [innerHTML]="put[1]" data-pos="0,1"></li>
      <li (click)="handleClick(2)" [innerHTML]="put[2]" data-pos="0,2"></li>
      <!-- second row -->
      <li (click)="handleClick(3)" [innerHTML]="put[3]" data-pos="1,0"></li>
      <li (click)="handleClick(4)" [innerHTML]="put[4]" data-pos="1,1"></li>
      <li (click)="handleClick(5)" [innerHTML]="put[5]" data-pos="1,2"></li>
      <!-- third row -->
      <li (click)="handleClick(6)" [innerHTML]="put[6]" data-pos="2,0"></li>
      <li (click)="handleClick(7)" [innerHTML]="put[7]" data-pos="2,1"></li>
      <li (click)="handleClick(8)" [innerHTML]="put[8]" data-pos="2,2"></li>
    </ul>
  </div>
</body>
